<!-- Line Chart -->
<div class="kcell CopyslFbox0idd24cb8494c45" style="position: absolute; z-index: 1; opacity: 1;
                        overflow: visible; box-shadow: none; border: 0px !important; background: transparent !important;
                        width: 95%; height: 37%; left: 2.5%; top: 40px;">

    <div id="flexcontainer_wrapper" class=" " style="width: 100%; height: 100%;">

        <div class="kwt100  CopyslFbox0idd24cb8494c45 " id="frmHome_flxLineChart"
             kwidgettype="FlexContainer" kformname="frmHome" style="position: relative;
                                     overflow: visible; height: 100%;">

            <div id="line-chart" style="height: 100%">
                <div class="content-text" style="margin-top: 1%"><span>Trends:</span></div>
                <br>
                <div id="lineChartDiv"></div>
            </div>
        </div>
    </div>
</div>

<!-- Continents -->
<div class="kcell CopyslFbox0idd24cb8494c45" style="position: absolute; z-index: 1; opacity: 1;
                        overflow: visible; box-shadow: none; border: 0px !important;
                        width: 95%; height: 4%; left: 2.5%; top: 37.5%; margin-top: 40px">
    <div class="container">
        <div class="list-inline list-group-horizontal">
            <div class="content-text" style="position: absolute; z-index: 1; opacity: 1; box-shadow: none;
                                     border: 0px !important; left: 0%; top:25%">Continents:</div>
            <div class="form-check btn-group"
                 role="group" data-toggle="buttons">
                <label  id="World"  class="btn btn-light button_continent World active">
                    <input type="checkbox"class="form-check list-group-item">World
                </label>
                <label  id="Asia"  class="btn btn-light button_continent Asia">
                    <input type="checkbox"class="form-check list-group-item">Asia
                </label>
                <label  id="Africa"  class="btn btn-light button_continent Africa">
                    <input type="checkbox"class="form-check list-group-item">Africa
                </label>
                <label id="North America"  class="btn btn-light button_continent NorthAmerica">
                    <input type="checkbox"class="form-check list-group-item">North America
                </label>
                <label id="South America" class="btn btn-light button_continent SouthAmerica">
                    <input type="checkbox" class="form-check list-group-item">South America
                </label>
                <label  id="Europe" class="btn btn-light button_continent Europe" >
                    <input type="checkbox" class="form-check list-group-item">Europe
                </label>
                <label id="Oceania" class="btn btn-light button_continent Oceania">
                    <input type="checkbox" class="form-check list-group-item">Oceania
                </label>
            </div>
        </div>
    </div>
</div>

<!-- Choropleth -->
<div class="kcell CopyslFbox0g7e63a02829f45" style="position: absolute; z-index: 1; opacity: 1;
                        overflow: visible; box-shadow: none; border: 0px !important; background: transparent !important;
                        width: 95%; height: 35%; left: 2.5%; top: 41.5%; margin-top: 40px">
    <div id="flexcontainer_wrapper" class=" " style="width: 100%; height: 100%;">
        <div class="kwt100  CopyslFbox0g7e63a02829f45 " id="frmHome_flxChoropleth"
             kwidgettype="FlexContainer" kformname="frmHome" style="position: relative;
                                     overflow: visible; height: 100%;">
            <div  id="world-map" style="height: 100%">
                <div class="content-text">Countries:</div>
                <div id="mapDiv"></div>
                <div id="mapSliderDiv" style="width: 80%; height: 10%; left: 2.5%; top: 10%; margin:auto"></div>
            </div>
        </div>
    </div>
</div>

<!-- Notes -->
<div class="kcell CopyslFbox0g7e63a02829f45" style="position: absolute; z-index: 1; opacity: 1;
                        overflow: visible; box-shadow: none; border: 0px !important; background: transparent !important;
                        width: 95%; height: 15%; left: 2.5%; top: 76.5%; margin-top: 40px">
    <div id="flexcontainer_wrapper" class=" " style="width: 100%; height: 100%;">
        <div class="kwt100  CopyslFbox0g7e63a02829f45 " id="frmHome_flxChoropleth"
             kwidgettype="FlexContainer" kformname="frmHome" style="position: relative;
                                     overflow: visible; height: 100%;">
            <div  id="homeNotes" style="height: 100%">
                <div class="content-text">Notes:</div>
                <ul class="notes-text" style="margin-top: 1%;">
                    <li>You can click on any country or continent to see/unsee the corresponding population on the canvas.</li>
                    <li>You can choose at most 10 places in order to avoid clutter on the canvas.</li>
                    <li>The range slider below the map helps you visualize the population density in the chosen year.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


